@model IEnumerable<QLNS.Models.Account_Position>

@{
    ViewBag.Title = "Index";
}
<link href="~/Assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tài khoản</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Account.Username)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Position.Name)
                        </th>
                        <th>
                            Thao tác
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Account.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position.Name)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { accountId = item.AccountId }) |
                                @Html.ActionLink("Details", "Details", new { accountId = item.AccountId }) |
                                @Html.ActionLink("Delete", "Delete", new { accountId = item.AccountId })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/Assets/js/demo/datatables-demo.js"></script>
}